<div class="app-container">
    <ng-container *ngFor="let square of squaresArray">
        <app-square [squareId]="square.id" [squareBgColor]="square.color" class="square" (square)="onSquareColorChange($event)"></app-square>
    </ng-container>
</div>